.form {
  margin: 20px;
}

.input-name {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

.input-email {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

.input-message {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  height: 2rem;
}

